# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask instance folder
instance/

# Flask cached files
*.pyo
*.pyc

# Flask specific
*.log
*.pot
*.pid
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject

# VScode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# dotenv
.env

# Google API credentials
client_secret.json
